<div class='floating_box'>
	<ul class='selection_box'>
		<div class='tit'>이력서 항목</div>
		<ul>
			<li>
				<input type='checkbox' name='items' id='selection_items1' value='학력'>
				<label for='selection_items1'>학력</label>
			</li>
			<li>
				<input type='checkbox' name='items' id='selection_items2' value='경력'>
				<label for='selection_items2'>경력</label>
			</li>
			<li>
				<input type='checkbox' name='items' id='selection_items3' value='인턴'>
				<label for='selection_items3'>인턴·대외활동</label>
			</li>
			<li>
				<input type='checkbox' name='items' id='selection_items4' value='교육이수'>
				<label for='selection_items4'>교육이수</label>
			</li>
			<li>
				<input type='checkbox' name='items' id='selection_items5' value='자격증'>
				<label for='selection_items5'>자격증</label>
			</li>
			<li>
				<input type='checkbox' name='items' id='selection_items6' value='수상'>
				<label for='selection_items6'>수상</label>
			</li>
			<li>
				<input type='checkbox' name='items' id='selection_items7' value='해외경험'>
				<label for='selection_items7'>해외경험</label>
			</li>
			<li>
				<input type='checkbox' name='items' id='selection_items8' value='어학'>
				<label for='selection_items8'>어학</label>
			</li>
			<li>
				<input type='checkbox' name='items' id='selection_items9' value='포트폴리오'>
				<label for='selection_items9'>포트폴리오</label>
			</li>
			<li>
				<input type='checkbox' name='items' id='selection_items10' value='병역'>
				<label for='selection_items10'>취업우대·병역</label>
			</li>
			<li>
				<input type='checkbox' name='items' id='selection_items11' value='자기소개서'>
				<label for='selection_items11'>자기소개서</label>
			</li>
		</ul>
	</ul>
	<div class='btns'>
		<a href='/' target='_blank' class='btn'>미리보기</a>
		<div class='btn save'>이력서저장</div>
	</div>
</div>
<!--// floating_box -->