<div class='floating_box'>
	<ul class='selection_box'>
		<div class='tit'>이력서 항목</div>
		<ul>
			<li>
				<input type='checkbox' name='items' id='selection_items1' value='학력' data-target='school_history'>
				<label for='selection_items1'>
					학력
					<i class='plus xi-plus-circle-o'></i>
					<i class='minus xi-minus-circle-o'></i>
				</label>
			</li>
			<li>
				<input type='checkbox' name='items' id='selection_items2' value='경력' data-target='job_history'>
				<label for='selection_items2'>
					경력
					<i class='plus xi-plus-circle-o'></i>
					<i class='minus xi-minus-circle-o'></i>
				</label>
			</li>
			<li>
				<input type='checkbox' name='items' id='selection_items3' value='인턴' data-target='intern'>
				<label for='selection_items3'>
					인턴·대외활동
					<i class='plus xi-plus-circle-o'></i>
					<i class='minus xi-minus-circle-o'></i>
				</label>
			</li>
			<li>
				<input type='checkbox' name='items' id='selection_items4' value='교육이수' data-target='education'>
				<label for='selection_items4'>
					교육이수
					<i class='plus xi-plus-circle-o'></i>
					<i class='minus xi-minus-circle-o'></i>
				</label>
			</li>
			<li>
				<input type='checkbox' name='items' id='selection_items5' value='자격증' data-target='license'>
				<label for='selection_items5'>
					자격증
					<i class='plus xi-plus-circle-o'></i>
					<i class='minus xi-minus-circle-o'></i>
				</label>
			</li>
			<li>
				<input type='checkbox' name='items' id='selection_items6' value='수상' data-target='award'>
				<label for='selection_items6'>
					수상
					<i class='plus xi-plus-circle-o'></i>
					<i class='minus xi-minus-circle-o'></i>
				</label>
			</li>
			<li>
				<input type='checkbox' name='items' id='selection_items7' value='해외경험' data-target='overseas'>
				<label for='selection_items7'>
					해외경험
					<i class='plus xi-plus-circle-o'></i>
					<i class='minus xi-minus-circle-o'></i>
				</label>
			</li>
			<li>
				<input type='checkbox' name='items' id='selection_items8' value='어학' data-target='language'>
				<label for='selection_items8'>
					어학
					<i class='plus xi-plus-circle-o'></i>
					<i class='minus xi-minus-circle-o'></i>
				</label>
			</li>
			<li>
				<input type='checkbox' name='items' id='selection_items9' value='포트폴리오' data-target='portfolio'>
				<label for='selection_items9'>
					포트폴리오
					<i class='plus xi-plus-circle-o'></i>
					<i class='minus xi-minus-circle-o'></i>
				</label>
			</li>
			<li>
				<input type='checkbox' name='items' id='selection_items10' value='병역' data-target='benefit'>
				<label for='selection_items10'>
					취업우대·병역
					<i class='plus xi-plus-circle-o'></i>
					<i class='minus xi-minus-circle-o'></i>
				</label>
			</li>
			<li>
				<input type='checkbox' name='items' id='selection_items11' value='자기소개서' data-target='introduction'>
				<label for='selection_items11'>
					자기소개서
					<i class='plus xi-plus-circle-o'></i>
					<i class='minus xi-minus-circle-o'></i>
				</label>
			</li>
		</ul>
	</ul>
	<div class='btns'>
		<a href='/' target='_blank' class='btn'>미리보기</a>
		<div class='btn save'>이력서저장</div>
	</div>
</div>
<!--// floating_box -->