<form method='post' action='/admin/profile' target='ifrmHidden' autocomplete='off'>
	<section class='box resume_title'>
		<input type='text' name='resumeTitle' placeholder='기업에게 나에 대해 알려줍시다. 강점, 목표, 관심분야도 좋아요.'>
	</section>
	
	<section class='section basic_info'>
		<div class='tit'>인적사항</div>
		<div class='required_tit'>필수 입력 정보입니다.</div>
		<div class='inner'>
			<div class='box box1'>
				<div class='input_box'>
					<div class='guide_tit'>이름</div>
					<input type='text' name='name'>
				</div>
				<div class='input_box'>
					<div class='guide_tit'>생년월일</div>
					<input type='text' name='birthDate'>
				</div>
				<div class='input_box'>
					<div class='guide_tit'>전화번호</div>
					<input type='text' name='landline'>
				</div>
				<div class='input_box'>
					<div class='guide_tit'>휴대폰번호</div>
					<input type='text' name='cellPhone'>
				</div>
			</div>
			<div class='box box2'>
				<div class='input_box gender'>
					<div class='guide_tit'>성별</div>
					<input type='text' name='gender'>
				</div>
				<div class='input_box email'>
					<div class='guide_tit'>이메일</div>
					<input type='email' name='email'>
				</div>
				<div class='input_box address'>
					<div class='guide_tit'>주소</div>
					<input type='text' name='address'>
					<i class='xi-search search_address'></i>
				</div>
			</div>
			<div class='box box3'>
				<div class='photo_upload' onclick="layer.popup('/upload', 450, 450);">
					<i class='xi-plus-circle-o icon'></i>
					<div class='t'>사진추가</div>
				</div>
			</div>
		</div>
		<!--// inner -->
	</section>	
</form>