<form method='post' action='/admin/profile' target='ifrmHidden' autocomplete='off'>
	<section class='box resume_title'>
		<input type='text' name='resumeTitle' placeholder='기업에게 나에 대해 알려줍시다. 강점, 목표, 관심분야도 좋아요.'>
	</section>
	
	<section class='section basic_info'>
		<div class='tit'>인적사항</div>
		<div class='required_tit'>필수 입력 정보입니다.</div>
		<div class='inner'>
			<div class='box box1'>
				<div class='input_box'>
					<div class='guide_tit'>이름</div>
					<input type='text' name='name'>
				</div>
				<div class='input_box'>
					<div class='guide_tit'>생년월일</div>
					<input type='text' name='birthDate'>
				</div>
				<div class='input_box'>
					<div class='guide_tit'>전화번호</div>
					<input type='text' name='landline'>
				</div>
				<div class='input_box'>
					<div class='guide_tit'>휴대폰번호</div>
					<input type='text' name='cellPhone'>
				</div>
			</div>
			<div class='box box2'>
				<div class='input_box gender'>
					<div class='guide_tit'>성별</div>
					<input type='text' name='gender'>
				</div>
				<div class='input_box email'>
					<div class='guide_tit'>이메일</div>
					<input type='email' name='email'>
				</div>
				<div class='input_box address'>
					<div class='guide_tit'>주소</div>
					<input type='text' name='address'>
					<i class='xi-search search_address'></i>
				</div>
			</div>
			<div class='box box3'>
				<div class='photo_upload' onclick="layer.popup('/upload', 450, 450);">
					<i class='xi-plus-circle-o icon'></i>
					<div class='t'>사진추가</div>
				</div>
			</div>
		</div>
		<!--// inner -->
	</section>	
	
	<!-- 학력 S -->
	<section class='section school_history'>
		<div class='tit'>학력</div>
		<div class='add_choice'>
			<input type='checkbox' name='belowHighschool' value='1' id='belowHighschool'>
			<label for='belowHighschool'>고등학교 미만 졸업</label>
		</div>
		<div class='form_inner'>
			<div class='form_html'></div>
			<div class='add_form' data-type='학력'>
				<i class='xi-plus-circle-o'></i>
				추가
			</div>
		</div>
	</section>
	<!-- 학력 E -->
	<!-- 경력 S -->
	<section class='section job_history'>
		<div class='tit'>경력</div>
		<div class='form_inner'>
			<div class='form_html'></div>
			<div class='add_form' data-type='경력'>
				<i class='xi-plus-circle-o'></i>
				추가
			</div>
		</div>
	</section>
	<!-- 경력 E -->
	
	<!-- 인턴·대외활동 S -->
	<section class='section intern'>
		<div class='tit'>인턴·대외활동</div>
		<div class='form_inner'>
			<div class='form_html'>
			</div>
			<div class='add_form' data-type='인턴'>
				<i class='xi-plus-circle-o'></i>
				인턴·대외활동 추가
			</div>
		</div>
	</section>
	
	<!-- 인턴·대외활동 E -->
	
	<!-- 교육 이수 S -->
	<section class='section education'>
		<div class='tit'>교육</div>
		<div class='form_inner'>
			<div class='form_html'></div>
				<div class='add_form' data-type='교육'>
					<i class='xi-plus-circle-o'></i>
					교육 추가
				</div>
		</div>
		<!--// form_inner -->
	</section>
	<!-- 교육 이수 E -->
	
	<!-- 자격증 S -->
	<section class='section license'>
		<div class='tit'>자격증</div>
		<div class='form_inner'>
			<div class='form_html'></div>
			<div class='add_form' data-type='자격증'>
				<i class='xi-plus-circle-o'></i>
				자격증
			</div>
		</div>
	</section>
	<!-- 자격증 E -->
	
	<!-- 수상 S -->
		<section class='section award'>
				<div class='tit'>수상</div>
					<div class='form_inner'>
						<div class='form_html'></div>
						<div class='add_form' data-type='수상'>
							<i class='xi-plus-circle-o'></i>
							수상 추가
						</div>
				</div>
		</section>
	<!-- 수상 E -->
	
	<!-- 해외 경험 S -->
	<section class='section overseas'>
		<div class='tit'>해외경험</div>
			<div class='form_inner'>
				<div class='form_html'></div>
				<div class='add_form' data-type='해외경험'>
					<i class='xi-plus-circle-o'></i>
					해외경험 추가
				</div>
			</div>
	</section>
	<!-- 해외 경험 E -->
	
	<!-- 어학 S -->
	<section class='section language'>
		<div class='tit'>어학</div>
			<div class='form_inner'>
				<div class='form_html'></div>
				<div class='add_form' data-type='어학'>
					<i class='xi-plus-circle-o'></i>
					어학 추가
				</div>
			</div>
	</section>
	<!-- 어학 E -->
	
	<!-- 취업우대 · 병역 S -->
	<section class='section benefit'>
		<div class='tit'>취업우대 · 병역</div>
		<div class='inner2'>
			<div class='sel'>
			<input type='checkbox' name='benefit' value='보훈대상' id='benefit1'>
			<label for='benefit1'>보훈대상</label>
			</div>
			<div class='sel'>
				<input type='checkbox' name='benefit' value='취업보호 대상' id='benefit2'>
				<label for='benefit2'>취업보호 대상</label>
			</div>
			<div class='sel'>
				<input type='checkbox' name='benefit' value='고용지원금 대상' id='benefit3'>
				<label for='benefit3'>고용지원금 대상</label>
			</div>
			<div class='sel'>
				<input type='checkbox' name='benefit' value='장애' id='benefit4'>
				<label for='benefit4'>장애</label>
			</div>
			<div class='sel'>
				<input type='checkbox' name='benefit' value='병역' id='benefit5'>
				<label for='benefit5'>병역</label>
			</div>
		</div>
		<!--// inner -->
		<div class='additional_select'>
			<dl class='handicap'>
				<dt>장애</dt>
				<dd>
					<select name='handicapLevel'>
						<option value=''>장애 등급</option>
						<option value='1급'>1급</option>
						<option value='2급'>2급</option>
						<option value='3급'>3급</option>
						<option value='4급'>4급</option>
						<option value='5급'>5급</option>
						<option value='6급'>6급</option>
					</select>
				</dd>
			</dl>
		</div>
	</section>
	<!-- 취업우대 · 병역 E -->
	
	<!-- 희망 근무조건 S -->
	<section class='section work_condition'>
		<div class='tit'>희망근무조건</div>
		<div class='inner'>
			<div class='input_box w386'>
				<div class='guide_tit'>고용형태</div>
				<input type='text' name='workType'>
			</div>
			<div class='input_box'>
				<div class='guide_tit'>희망연봉</div>
				<input type='text' name='salary'>
			</div>
			<div class='choice_box'>
				<input type='checkbox' name='negotiableSalary' value='1' id='negotiableSalary'>
				<label for='negotiableSalary'>면접 후 결정</label>
			</div>
			<div class='input_box wp100'>
				<div class='guide_tit'>희망근무지</div>
				<input type='text' name='workLocation'>
			</div>
			<div class='input_box wp100'>
				<div class='guide_tit'>직무산업키워드</div>
				<input type='text' name='workKeyword'>
			</div>
		</div>
		<!--// inner -->
	</section>
	<!-- 희망 근무조건 E -->
	
	
</form>