<form method='post' action='/admin/profile' target='ifrmHidden' autocomplete='off'>
	<section class='box resume_title'>
		<input type='text' name='resumeTitle' placeholder='기업에게 나에 대해 알려줍시다. 강점, 목표, 관심분야도 좋아요.'>
	</section>
	
	<section class='section basic_info'>
		<div class='tit'>인적사항</div>
		<div class='required_tit'>필수 입력 정보입니다.</div>
		<div class='inner'>
			<div class='box box1'>
				<div class='input_box'>
					<div class='guide_tit'>이름</div>
					<input type='text' name='name'>
				</div>
				<div class='input_box'>
					<div class='guide_tit'>생년월일</div>
					<input type='text' name='birthDate'>
				</div>
				<div class='input_box'>
					<div class='guide_tit'>전화번호</div>
					<input type='text' name='landline'>
				</div>
				<div class='input_box'>
					<div class='guide_tit'>휴대폰번호</div>
					<input type='text' name='cellPhone'>
				</div>
			</div>
			<div class='box box2'>
				<div class='input_box gender'>
					<div class='guide_tit'>성별</div>
					<input type='text' name='gender'>
				</div>
				<div class='input_box email'>
					<div class='guide_tit'>이메일</div>
					<input type='email' name='email'>
				</div>
				<div class='input_box address'>
					<div class='guide_tit'>주소</div>
					<input type='text' name='address'>
					<i class='xi-search search_address'></i>
				</div>
			</div>
			<div class='box box3'>
				<div class='photo_upload' onclick="layer.popup('/upload', 450, 450);">
					<i class='xi-plus-circle-o icon'></i>
					<div class='t'>사진추가</div>
				</div>
			</div>
		</div>
		<!--// inner -->
	</section>	
	
	<!-- 학력 S -->
	<section class='section school_history'>
		<div class='tit'>학력</div>
		<div class='add_choice'>
			<input type='checkbox' name='belowHighschool' value='1' id='belowHighschool'>
			<label for='belowHighschool'>고등학교 미만 졸업</label>
		</div>
		<div class='form_inner'>
			<div class='form_html'>
				<div class='rows'>
					<div class='remove'><i class='xi-close'></i></div>
					<div class='select_box'>
						<select name='schoolType'>
							<option value='고등학교'>고등학교</option>
							<option value='대학(2,3년)'>대학(2,3년)</option>
							<option value='대학교(4년)'>대학교(4년)</option>
							<option value='대학원'>대학원</option>
						</select>
					</div>
					<!--// select_box -->
					<div class='input_box w386'>
						<div class='guide_tit'>학교명</div>
						<input type='text' name='schoolName'>
					</div>
				</div>
				<!--// rows -->
			</div>
			<div class='add_form' data-type='학력'>
				<i class='xi-plus-circle-o'></i>
				추가
			</div>
		</div>
	</section>
	<!-- 학력 E -->
	
	<!-- 희망 근무조건 S -->
	<section class='section work_condition'>
		<div class='tit'>희망근무조건</div>
		<div class='inner'>
			<div class='input_box w386'>
				<div class='guide_tit'>고용형태</div>
				<input type='text' name='workType'>
			</div>
			<div class='input_box'>
				<div class='guide_tit'>희망연봉</div>
				<input type='text' name='salary'>
			</div>
			<div class='choice_box'>
				<input type='checkbox' name='negotiableSalary' value='1' id='negotiableSalary'>
				<label for='negotiableSalary'>면접 후 결정</label>
			</div>
			<div class='input_box wp100'>
				<div class='guide_tit'>희망근무지</div>
				<input type='text' name='workLocation'>
			</div>
			<div class='input_box wp100'>
				<div class='guide_tit'>직무산업키워드</div>
				<input type='text' name='workKeyword'>
			</div>
		</div>
		<!--// inner -->
	</section>
	<!-- 희망 근무조건 E -->
	
	
</form>