<!-- 학력 추가 템플릿 -->
<script type='text/html' id='template_school'>
	<div class='rows'>
		<div class='remove'><i class='xi-close'></i></div>
			<div class='select_box'>
				<select name='schoolType'>
					<option value='고등학교'>고등학교</option>
					<option value='대학(2,3년)'>대학(2,3년)</option>
					<option value='대학교(4년)'>대학교(4년)</option>
					<option value='대학원'>대학원</option>
				</select>
			</div>
			<!--// select_box -->
			<div class='input_box w386'>
				<div class='guide_tit'>학교명</div>
				<input type='text' name='schoolName'>
			</div>
	</div>
		<!--// rows -->
</script>