<!-- 학력 추가 템플릿 -->
<script type='text/html' id='template_school'>
	<div class='rows'>
		<div class='remove'><i class='xi-close'></i></div>
			<div class='select_box'>
				<select name='schoolType'>
					<option value='고등학교'>고등학교</option>
					<option value='대학(2,3년)'>대학(2,3년)</option>
					<option value='대학교(4년)'>대학교(4년)</option>
					<option value='대학원'>대학원</option>
				</select>
			</div>
			<!--// select_box -->
			<div class='input_box w386'>
				<div class='guide_tit'>학교명</div>
				<input type='text' name='schoolName'>
			</div>
	</div>
		<!--// rows -->
</script>

<!-- 경력 추가 템플릿 -->
<script type='text/html' id='template_job_history'>
	<div class='rows'>
		<div class='remove'><i class='xi-close'></i></div>
				<div class='input_box input_box2 first w278'>
					<div class='guide_tit'>회사명</div>
					<input type='text' name='jhCompany'>
				</div>
				<div class='input_box input_box2 last w278'>
					<div class='guide_tit'>부서명</div>
					<input type='text' name='jhDept'>
				</div>
				<div class='input_box input_box2 first w115'>
					<div class='guide_tit'>입사년월</div>
					<input type='text' name='jhStartDate'>
				</div>
				<div class='input_box input_box2 w115'>
					<div class='guide_tit'>퇴사년월</div>
					<input type='text' name='jhEndDate'>
				</div>
				<div class='choice_box'>
					<input type='checkbox' name='jhInOffice' id='jhInOffice<%=no%>'>
					<label for='jhInOffice<%=no%>'>재직중</label>
				</div>
				<div class='input_box input_box2 first w278'>
					<div class='guide_tit'>직급/직책</div>
					<input type='text' name='jhPosition'>
				</div>
				<div class='input_box input_box2 last w278'>
					<div class='guide_tit'>직무</div>
					<input type='text' name='jhTask'>
				</div>
				<div class='input_box input_box2 first w115'>
					<div class='guide_tit'>연봉</div>
					<input type='text' name='jhSalary'>
				</div>
				<div class='input_box jhWork wp100'>
					<div class='guide_tit'>담당업무</div>
					<textarea name='jhWork' placeholder='담당하신 업무와 성과에 대해 간단명료하게 적어주세요.'></textarea>
				</div>
	</div>
				<!--// rows -->
</script>

<!-- 인턴·대외활동 추가 템플릿 -->
<script type='text/html' id='template_intern'>
	<div class='rows'>
		<div class='remove'><i class='xi-close'></i></div>
					<div class='select_box'>
						<select name='internType'>
							<option value=''>활동구분</option>
							<option value='인턴'>인턴</option>
							<option value='아르바이트'>아르바이트</option>
							<option value='동아리'>동아리</option>
							<option value='자원봉사'>자원봉사</option>
							<option value='사회활동'>사회활동</option>
							<option value='교내활동'>교내활동</option>
						</select>
					</div>
					<div class='input_box internCompany'>
						<div class='guide_tit'>회사/기관/단체명</div>
						<input type='text' name='internCompany'>
					</div>
					
					<div class='input_box input_box2 w115 first'>
						<div class='guide_tit'>시작년월</div>
						<input type='text' name='internStartDate'>
					</div>
					
					<div class='input_box input_box2 w115'>
						<div class='guide_tit'>종료년월</div>
						<input type='text' name='internEndDate'>
					</div>
					
					<div class='input_box wp100'>
						<div class='guide_tit'>활동내용</div>
						<textarea name='internDesc' placeholder='직무와 관련된 경험에 대해(상황 - 노력 - 결과)순으로 작성하는 것이 좋습니다.'></textarea>
					</div>	
	</div>
</script>

<!-- 교육이수 추가 템플릿 -->
<script type='text/html' id='template_education'>
				<div class='rows'>
					<div class='remove'><i class='xi-close'></i></div>
						<div class='input_box w314'>
							<div class='guide_tit'>교육명</div>
							<input type='text' name='eduName'>
						</div>
						<div class='input_box w314 eduCompany'>
							<div class='guide_tit'>교육기관</div>
							<input type='text' name='eduCompany'>
						</div>
						
						<div class='input_box input_box2 w115 first'>
							<div class='guide_tit'>시작년월</div>
							<input type='text' name='eduStartDate'>
						</div>
						<div class='input_box input_box2 w115'>
							<div class='guide_tit'>종료년월</div>
							<input type='text' name='eduEndDate'>
						</div>
						
						<div class='input_box wp100'>
							<div class='guide_tit'>내용</div>
							<textarea name='eduDesc' placeholder='이수하신 교육 과정에 대해 적어주세요.'></textarea>
						</div>
				</div>
				<!--// rows -->
</script>

<!-- 자격증 추가 템플릿 -->
<script type='text/html' id='template_license'>
				<div class='rows'>
					<div class='remove'><i class='xi-close'></i></div>
						<div class='input_box w386 mr10'>
							<div class='guide_tit'>자격증 명</div>
							<input type='text' name='licenseName'>
						</div>
						<div class='input_box w278'>
							<div class='guide_tit'>발행처</div>
							<input type='text' name='licenseIssue'>
						</div>
						<div class='input_box w115'>
							<div class='guide_tit'>취득월</div>
							<input type='text' name='licenseDate'>
						</div>
					</div>
</script>

<!-- 수상 내역 추가 템플릿 -->
<script type='text/html' id='template_award'>
				<div class='rows'>
					<div class='remove'><i class='xi-close'></i></div>
						<div class='input_box w386 mr10'>
							<div class='guide_tit'>수상명</div>
							<input type='text' name='awardName'>
						</div>
						<div class='input_box w278'>
							<div class='guide_tit'>수여기관</div>
							<input type='text' name='awardCompany'>
						</div>
						<div class='input_box w115'>
							<div class='guide_tit'>수상연도</div>
							<input type='text' name='awardYear'>
						</div>
						<div class='input_box wp100'>
							<div class='guide_tit'>수여내용</div>
							<textarea type='text' name='awardDesc' placeholder='수여 내용 및 결과를 자세히 입력해주세요.'></textarea>
						</div>
				</div>
				<!--// rows -->
</script>

<!-- 해외 경험 추가 템플릿 -->
<script type='text/html' id='template_overseas'>
					<div class='rows'>
						<div class='remove'><i class='xi-close'></i></div>
							<div class='input_box w456 mr10'>
								<div class='guide_tit'>국가명</div>
								<input type='text' name='overseaseName'>
							</div>
							<div class='input_box input_box2 w115 first'>
								<div class='guide_tit'>시작년월</div>
								<input type='text' name='overseasStartDate'>
							</div>
							<div class='input_box input_box2 w115'>
								<div class='guide_tit'>종료년월</div>
								<input type='text' name='overseasEndDate'>
							</div>
							
							<div class='input_box wp100'>
								<div class='guide_tit'>내용</div>
								<textarea name='overseasDesc' placeholder='해외에서 어떤 경험을 했는지 적어주세요.(ex.어학연수, 교환학생, 워킹홀리데이, 해외근무'></textarea>
							</div>
					</div>
					<!--// rows -->
</script>

<!-- 어학 추가 템플릿 -->
<script type='text/html' id='template_language'>
					<div class='rows'>
						<div class='remove'><i class='xi-close'></i></div>
							<div class='select_box w115'>
								<select name='languageType'>
									<option value=''>구분</option>
									<option value='회화능력'>회화능력</option>
									<option value='공인시험'>공인시험</option>
								</select>
							</div>
							
							<div class='input_box'>
								<div class='guide_tit'>외국어명</div>
								<input type='text' name='languageName'>
							</div>
							<div class='select_box'>
								<select name='languageAbility'>
									<option value=''>회화능력</option>
									<option value='일상회화 가능'>일상회화 가능</option>
									<option value='비지니스 회화가능'>비지니스 회화가능</option>
									<option value='원어민 수준'>원어민 수준</option>
								</select>
							</div>
						</div>
						<!--// rows -->
</script>

<!-- 자기소개 추가 템플릿 -->
<script type='text/html' id='template_introduction'>
	<div class='rows'>
		<div class='remove'><i class='xi-close'></i></div>
			<input type='text' name='introductionTitle' placeholder='항목 제목을 입력하세요.'>
			<textarea name='introduction' class='intro' placeholder='해당내용을 입력하세요.'></textarea>
	</div>
</script>