{% extends '../layout.html' %}
{% block script %}
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src='/js/layer.js'></script>
<script src='/js/admin.js'></script>
{% endblock %}

{% block top %}
<!-- 상단 메뉴 S -->
<div class='top_nav'>
	<div class='layout_width inner'>
		<a href='/' target='_blank'>이력서 메인</a>
		<a href='/member/logout' class='last'>로그아웃</a>
	</div>
</div>
<!-- 상단 메뉴 E -->
{% endblock %}

{% block content %}
<div class='layout_width container'>
	<div class='profile'>
		{% include "./_profile.html" %}
	</div>
	<div class='nav'>
		{% include "./_nav.html" %}
	</div>
</div>
<!--// layout_width -->
{% endblock %}
