{% extends 'layout.html' %}
{% block style %}
<link rel="stylesheet" type="text/css" href="/css/front.css">
{% endblock %}
{% block content %}
<div class='container layout_width'>
	<div class='main_title'>이력서</div>
	<div class='info_box basic_info'>
		<div class='rows rows1'>
			{% if profile %}
			<div class='box box1 profile'>
				<img src='{{ profile }}'>
			</div>
			{% endif %}
			<div class='box box2'>
				<div class='main_info'>
					<span class='t1'>{{ basicinfo.name }}</span>
					<span class='t2'>{{ basicinfo.gender }} {{ basicinfo.birthYear }}년, {{ basicinfo.age }}세</span>
				</div>
				<dl>
					<dt>휴대폰</dt>
					<dd>{{ basicinfo.cellPhone }}</dd>
				</dl>
				<dl>
					<dt>전화번호</dt>
					<dd>{{ basicinfo.landline }}</dd>
				</dl>	
				<dl>
					<dt>주소</dt>
					<dd>{{ basicinfo.address }}</dd>
				</dl>
			</div>
			<div class='box box3'>
				<dl>
					<dt>Email</dt>
					<dd>{{ basicinfo.email }}</dd>
				</dl>
			</div>
		</div>
		<!--// rows -->
		<div class='rows rows2'>
			<div class='box box1'>
				<div class='text1'>학력</div>
				{% if school %} 
				<div class='text2'>{{ school[0].name }}</div>
				<div class='text3'>{{ school[0].type }}</div>
				<div class='text3'>{{ school[0].status }}</div>
				{% endif %}
			</div>
			<div class='box box2'>
				<div class='text1'>경력</div>
				{% if jobhistory %}
				<div class='text2'>{{ jobhistory[0].company }}</div>
				<div class='text3'>{{ '재직' if jobhistory[0].inOffice else '퇴사' }}</div>
				<div class='text3'></div>
				{% endif %}
			</div>
			<div class='box box3'>
				<div class='text1'>인턴·대외활동 / 해외경험</div>
				{% if intern %}
				<div class='text2'>{{ intern[0].company }}</div>
				{% endif %}
				
				{% if overseas %}
				<div class='text2'>{{ overseas[0].name }} 해외경험</div>
				{% endif %}
			</div>
			<div class='box box4'>
				<div class='text1'>자격증 / 어학</div>
				{% if license %}
				<div class='text2'>{{ license[0].name }}</div>
				{% endif %}
				
				{% if language %}
				<div class='text2'>{{ language[0].name }} {{ language[0].ability }}</div>
				{% endif %}
			</div>
		</div>
		<!--// rows2 -->
	</div>
	
	{% if school %}
	<div class='sub_title'>학력</div>
	<div class='info_box info_box2 school'>
		{% for item in school %}
		<div class='rows'>
			<div class='box box1'>
				<div class='tt1'>
					{{ item.startDate }}
					{% if item.endDate %} ~ {{ item.endDate }} {% endif %}
				</div>
				{% if item.status %}
				<div class='tt2'>{{ item.status }}</div>
				{% endif %}
			</div>
			<div class='box box2'>
				<div class='r1'>
					<span class='tt3'>{{ item.name }}</span>
					{% if item.type != '고등학교' %}
					<span class='tt4'>{{ item.major }}</span>
					{% endif %}
				</div>
				{% if item.type != '고등학교' %}
				<div class='r2'>
					<span class='tt4 score_tit'>학점</span>
					<span class='tt5 score'>{{ item.score }} / </span>
					<span class='tt5'>{{ item.gradeTotal }}</span>
				</div>
				{% endif %}
			</div>
		</div>
		{% endfor %}
	</div>
	{% endif %}
	
	{% if jobhistory %}
	<div class='sub_title'>경력</div>
	<div class='info_box info_box2 jobhistory'>
		{% for item in jobhistory %}
		<div class='rows'>
			<div class='box box1'>
				<div class='tt1'>
					{{ item.startDate }}
					{% if item.endDate %} ~ {{ item.endDate }} {% endif %}
				</div>
				{% if item.period %}
				<div class='tt2'>{{ item.period }}</div>
				{% endif %}
			</div>
			<div class='box box2'>
				<div class='r1'>
					<span class='tt3'>{{ item.company }}</span>
					<span class='tt4'>{{ item.position }} {% if item.task %} {{ item.task }} {% endif %}</span>
				</div>
			</div>
		</div>
		<!--// rows -->
		{% endfor %}
	</div>
	<!--// info_box -->
	{% endif %}
	
	{% if intern %}
	<div class='sub_title'>인턴·대외활동</div>
	<div class='info_box info_box2 intern'>
		{% for item in intern %}
		<div class='rows'>
			<div class='box box1'>
				<div class='tt1'>
					{{ item.startDate }}
					{% if item.endDate %} ~ {{ item.endDate }} {% endif %}
				</div>
				{% if item.period %}
				<div class='tt2'>{{ item.period }}</div>
				{% endif %}
			</div>
			<div class='box box2'>
				<div class='r1'>
					<span class='tt3'>{{ item.company }}</span>
					<span class='tt4'>{{ item.type }}</span>
				</div>
				{% if item.description2 %}
				<div class='tt5'>
					{{ item.description2 }}
				</div>
				{% endif %}
			</div>
		</div>
		<!--// rows -->
		{% endfor %}
	</div>
	<!--// info_box -->
	{% endif %}
	
	{% if license %}
	<div class='sub_title'>자격증</div>
	<div class='info_box info_box license'>
	
	</div>
	{% endif %}
	
	
</div>
<!--// container -->
{% endblock %}