{% extends 'layout.html' %}
{% block style %}
<link rel="stylesheet" type="text/css" href="/css/front.css">
{% endblock %}
{% block content %}
{% if isLogin %}
<div class='print_btn no_print' onclick="window.print();">
	<i class='xi-print'></i>
	인쇄하기
</div>
{% endif %}
<div class='container layout_width'>
	<div class='main_title'>이력서</div>
	<div class='info_box basic_info'>
		<div class='rows rows1'>
			{% if profile %}
			<div class='box box1 profile'>
				<img src='{{ profile }}'>
			</div>
			{% endif %}
			<div class='box box2'>
				<div class='main_info'>
					<span class='t1'>{{ basicinfo.name }}</span>
					<span class='t2'>{{ basicinfo.gender }} {{ basicinfo.birthYear }}년, {{ basicinfo.age }}세</span>
				</div>
				<dl>
					<dt>휴대폰</dt>
					<dd>{{ basicinfo.cellPhone }}</dd>
				</dl>
				<dl>
					<dt>전화번호</dt>
					<dd>{{ basicinfo.landline }}</dd>
				</dl>	
				<dl>
					<dt>주소</dt>
					<dd>{{ basicinfo.address }}</dd>
				</dl>
			</div>
			<div class='box box3'>
				<dl>
					<dt>Email</dt>
					<dd>{{ basicinfo.email }}</dd>
				</dl>
			</div>
		</div>
		<!--// rows -->
		<div class='rows rows2'>
			<div class='box box1'>
				<div class='text1'>학력</div>
				{% if school %} 
				<div class='text2'>{{ school[0].name }}</div>
				<div class='text3'>{{ school[0].type }}</div>
				<div class='text3'>{{ school[0].status }}</div>
				{% endif %}
			</div>
			<div class='box box2'>
				<div class='text1'>경력</div>
				{% if jobhistory %}
				<div class='text2'>{{ jobhistory[0].company }}</div>
				<div class='text3'>{{ '재직' if jobhistory[0].inOffice else '퇴사' }}</div>
				<div class='text3'>{{ jobhistory[0].period }}</div>
				{% endif %}
			</div>
			<div class='box box3'>
				<div class='text1'>인턴·대외활동 / 해외경험</div>
				{% if intern %}
				<div class='text2'>{{ intern[0].company }}</div>
				{% endif %}
				
				{% if overseas %}
				<div class='text2'>{{ overseas[0].name }} 해외경험</div>
				{% endif %}
			</div>
			<div class='box box4'>
				<div class='text1'>자격증 / 어학</div>
				{% if license %}
				<div class='text2'>{{ license[0].name }}</div>
				{% endif %}
				
				{% if language %}
				<div class='text2'>{{ language[0].name }} {{ language[0].ability }}</div>
				{% endif %}
			</div>
		</div>
		<!--// rows2 -->
	</div>
	
	{% if school.length > 0 %}
	<div class='sub_title'>학력</div>
	<div class='info_box info_box2 school'>
		{% for item in school %}
		<div class='rows'>
			<div class='box box1'>
				<div class='tt1'>
					{{ item.startDate }}
					{% if item.endDate %} ~ {{ item.endDate }} {% endif %}
				</div>
				{% if item.status %}
				<div class='tt2'>{{ item.status }}</div>
				{% endif %}
			</div>
			<div class='box box2'>
				<div class='r1'>
					<span class='tt3'>{{ item.name }}</span>
					{% if item.type != '고등학교' %}
					<span class='tt4'>{{ item.major }}</span>
					{% endif %}
				</div>
				{% if item.type != '고등학교' %}
				<div class='r2'>
					<span class='tt4 score_tit'>학점</span>
					<span class='tt5 score'>{{ item.score }} / </span>
					<span class='tt5'>{{ item.gradeTotal }}</span>
				</div>
				{% endif %}
			</div>
		</div>
		{% endfor %}
	</div>
	{% endif %}
	
	{% if jobhistory.length > 0 %}
	<div class='sub_title'>경력</div>
	<div class='info_box info_box2 jobhistory'>
		{% for item in jobhistory %}
		<div class='rows'>
			<div class='box box1'>
				<div class='tt1'>
					{{ item.startDate }}
					{% if item.endDate %} ~ {{ item.endDate }} {% endif %}
				</div>
				{% if item.period %}
				<div class='tt2'>{{ item.period }}</div>
				{% endif %}
			</div>
			<div class='box box2'>
				<div class='r1'>
					<span class='tt3'>{{ item.company }}</span>
					<span class='tt4'>{{ item.position }} {% if item.task %} {{ item.task }} {% endif %}</span>
				</div>
				{% if item.work2 %}
				<div class='tt5'>{{ time.work2 | safe }}</div>
				{% endif %}
			</div>
		</div>
		<!--// rows -->
		{% endfor %}
	</div>
	<!--// info_box -->
	{% endif %}
	
	{% if intern.length > 0 %}
	<div class='sub_title'>인턴·대외활동</div>
	<div class='info_box info_box2 intern'>
		{% for item in intern %}
		<div class='rows'>
			<div class='box box1'>
				<div class='tt1'>
					{{ item.startDate }}
					{% if item.endDate %} ~ {{ item.endDate }} {% endif %}
				</div>
				{% if item.period %}
				<div class='tt2'>{{ item.period }}</div>
				{% endif %}
			</div>
			<div class='box box2'>
				<div class='r1'>
					<span class='tt3'>{{ item.company }}</span>
					<span class='tt4'>{{ item.type }}</span>
				</div>
				{% if item.description2 %}
				<div class='tt5'>
					{{ item.description2 | safe }}
				</div>
				{% endif %}
			</div>
		</div>
		<!--// rows -->
		{% endfor %}
	</div>
	<!--// info_box -->
	{% endif %}
	
	{% if education %}
	<div class='sub_title'>교육이수</div>
	<div class='info_box info_box2 education'>
		{% for item in education %}
		<div class='rows'>
			<div class='box box1'>
				<div class='tt1'>
					{{ item.startDate }}
					{% if item.endDate %} ~ {{ item.endDate }} {% endif %}
				</div>
				{% if item.period %}
				<div class='tt2'>{{ item.period }}</div>
				{% endif %}
			</div>
			<div class='box box2'>
				<div class='r1'>
					<span class='tt3'>{{ item.name }}</span>
					{% if item.company %}<span class='tt4'>{{ item.company }}</span>{% endif %}
				</div>
				{% if item.description2 %}
				<div class='tt5'>
				{{ item.description2 | safe }}
				</div>
				{% endif %}
			</div>
		</div>
		{% endfor %}
	</div>
	<!--// info_box -->
	{% endif %}
	
	
	{% if license.length > 0 %}
	<div class='sub_title'>자격증</div>
	<div class='info_box info_box2 license'>
		{% for item in license %}
		<div class='rows'>
			<div class='box box1'>
				<div class='tt1'>{{ item.date }}</div>
			</div>
			<div class='box box2'>
				<span class='tt3'>{{ item.name }}</span>
				{% if item.issue %}<span class='tt4'>{{ item.issue }}</span>{% endif %}
			</div>
		</div>	
		<!--// rows -->
		{% endfor %}
	</div>
	{% endif %}
	
	{% if award.length > 0 %}
	<div class='sub_title'>수상</div>
	<div class='info_box info_box2 award'>
		{% for item in award %}
		<div class='rows'>
			<div class='box box1'>
				<div class='tt1'>{{ item.year }}년</div>
			</div>
			<div class='box box2'>
				<div class='r1'>
					<span class='tt3'>{{ item.name }}</span>
					{% if item.company %}<span class='tt4'>{{ item.company }}</span>{% endif %}
				</div>
				{% if item.description2 %}
				<div class='tt5'>
					{{ item.description2 | safe }}
				</div>
				{% endif %}
			</div>
		</div>
		<!--// rows -->
		{% endfor %}
	</div>
	{% endif %}
	
	{% if overseas.length > 0 %}
	<div class='sub_title'>해외경험</div>
	<div class='info_box info_box2 overseas'>
		{% for item in overseas %}
		<div class='rows'>
			<div class='box box1'>
				<div class='tt1'>
					{{ item.startDate }}
					{% if item.endDate %} ~ {{ item.endDate }} {% endif %}
				</div>
				{% if item.period %}
				<div class='tt2'>{{ item.period }}</div>
				{% endif %}
			</div>
			<div class='box box2'>
				<div class='tt3'>{{ item.name }}</div>
				{% if item.description2 %}
				<div class='tt5'>{{ item.description2 | safe }}</div>
				{% endif %}
			</div>
		</div>
		<!--// rows -->
		{% endfor %}
	</div>
	{% endif %}
	
	{% if language.length > 0 %}
	<div class='sub_title'>어학</div>
	<div class='info_box info_box2 language'>
		{% for item in language %}
		<div class='rows'>
			<div class='box box1'>
				<div class='tt1'>{{ item.type }}</div>
			</div>
			<div class='box box2'>
				<span class='tt3'>{{ item.name }}</span>
				{% if item.ability %}<span class='tt4'>{{ item.ability }}</span>{% endif %}
			</div>
		</div>
		<!--// rows -->
		{% endfor %}
	</div>
	{% endif %}
	
	{% if portfolio.length > 0 %}
	<div class='sub_title'>포트폴리오</div>
	<div class='info_box info_box2 portfolio'>
		{% for item in portfolio %}
		<div class='rows'>
			<div class='r1'>
				<div class='tt3'>{{ item.title }}</div>
				{% if item.url %}
				<div class='tt5'>
					<a href='{{ item.url }}' target='_blank'>{{ item.url }}</a>
				</div>
				{% endif %}
			</div>
			
			{% if item.description2 %}
			<div class='tt5'>{{ item.description2 | safe }}</div>
			{% endif %}
			
		</div>
		{% endfor %}
	</div>
	<!--// info_box -->
	{% endif %}
	
	{% if introduction.length > 0 %}
	<div class='sub_title'>자기소개서</div>
	<div class='intro'>
		{% for item in introduction %}
		<div class='rows'>
			<div class='tit'>{{ item.title }}</div>
			<div class='desc'>{{ item.introduction2 | safe }}</div>
		</div>
		{% endfor %}
	</div>
	<!--// intro -->
	{% endif %}
	
	{% if basicinfo.benefit %}
	<div class='sub_title'>취업우대사항</div>
	<table>
		<tr>
			<th>보훈대상</th>
			<td>
				{% if basicinfo.benefit1 %}
					보훈 대상자
				{% else %}
					해당 없음
				{% endif %}
			</td>
			<th>취업보호대상 여부</th>
			<td>
				{% if basicinfo.benefit2 %}
					취업보호 대상자
				{% else %}
					해당 없음
				{% endif %}
			</td>
			<th>고용지원금대상 여부</th>
			<td class='last'>
				{% if basicinfo.benefit3 %}
					대상
				{% else %}
					해당 없음
				{% endif %}
			</td>
		</tr>
		{% if basicinfo.benefit5 or basicinfo.benefit4 %}
		<tr>
			<th>병역사항</th>
			<td colspan='3'>
				[{{ basicinfo.military }}]
				{% if basicinfo.military == '군필' %}
				{{ basicinfo.militaryStartDate }} ~ {{ basicinfo.military.EndDate }} {{ basicinfo.militaryRank }} 제대
				{% endif %}
			</td>
			<th>장애여부</th>
			<td class='last'>
				{% if basicinfo.handicapLevel %}
				{{ basicinfo.handicapLevel }}
				{% else %}
				없음
				{% endif %}
			</td>
		</tr>
		{% endif %}
	</table>	
	{% endif %}
	
	<div class='sub_title'>희망근무조건</div>
	<table>
		<tr>
			<th>고용형태</th>
			<td class='last'>
				{{ basicinfo.workType }}
			</td>
		</tr>
		<tr>
			<th>희망연봉</th>
			<td class='last'>
				{% if basicinfo.negotiableSalary %}
					면접 후 결정 
				{% else %} 
					{{ basicinfo.salary }} 
				{% endif %}
			</td>
		</tr>
		<tr>
			<th>희망근무지</th>
			<td class='last'>
				{{ basicinfo.workLocation }}
			</td>
		</tr>
	</table>
	
	<div class='resumer_guide'>
		<div class='t1'>위의 모든 기재사항은 사실과 다름없음을 확인합니다.</div>
		<div class='t2'>작성자 : {{ basicinfo.name }}</div>
		<div class='t3'>
			이 이력서는 {{ today }}에 최종 업데이트된 이력서 입니다.
		</div>
	</div>
</div>
<!--// container -->
{% endblock %}