body { background-color: #f2f4f7; padding: 50px 10px; }
.layout_width { max-width: 940px; width: 100%; }
.main_title { font-size: 30px; color: #000000; letter-spacing: -2px; line-height: 1.4; margin-bottom: 24px; font-weight: 500; }
.sub_title { font-size: 22px; color: #000000; padding-bottom: 13px; border-bottom: 1px solid #000000; }

.info_box {  background-color: #ffffff; margin-bottom: 30px; }

.info_box .rows > .box { float: left; }
.info_box .rows:after { clear: left; content: ''; display: block; }
.info_box .rows > .profile { width: 140px; }
.info_box .rows > .profile img { width: 100%; display: block; }

.info_box.basic_info .box2, .info_box.basic_info .box3 { padding: 15px 25px; }
.info_box.basic_info .main_info { margin-bottom: 13px; }
.info_box.basic_info .main_info .t1 { font-size: 20px; color: #000000; }
.info_box.basic_info .main_info .t2 { font-size: 14px; color: #888888; }
.info_box.basic_info dt { width: 68px; font-size: 14px; color: #888888; padding: 0;  }
.info_box.basic_info dd { font-size: 14px; color: #000000; padding: 0; }
.info_box.basic_info dl { margin-bottom: 11px;  }

.info_box.basic_info .rows2 { border-top: 10px solid #f2f4f7; }
.info_box.basic_info .rows2 > .box { width: calc(100% / 4); text-align: center; padding: 25px 20px; position: relative; }
.info_box.basic_info .rows2 > .box:after { content: ''; display: block; position: absolute; top: 25px; left: 0; height: 89px; width: 1px; background-color: #edeef0; }
.info_box.basic_info .rows2 > .box1:after { display: none; }

.info_box.basic_info .text1 { font-size: 14px; color: #888888; margin-bottom: 7px; }
.info_box.basic_info .text2 { font-size: 14px; color: #000000; line-height: 1.6; margin-bottom: 5px; }
.info_box.basic_info .text3 { font-size: 13px; color: #3399ff; margin-bottom: 5px; }
.info_box.basic_info .text3:last-child { margin-bottom: 0; }


.info_box2 .rows { border-bottom: 1px solid #edeef0; }
.info_box2 .rows:last-child { border-bottom: 0; }
.info_box2 .rows > .box { padding: 25px 30px; }
.info_box2 .rows > .box1 { width: 185px;  }
.info_box2 .rows > .box2 { width: calc(100% - 205px); }
.info_box2 .r1 { margin-bottom: 10px; }
.info_box2 .tt1 { font-size: 14px; color: #000000; margin-bottom: 7px; letter-spacing: -1px; }
.info_box2 .tt2 { font-size: 13px; color: #3399ff; letter-spacing: -1px; }
.info_box2 .tt3 { font-size: 16px; font-weight: 500; color: #000000; }
.info_box2 .tt4 { font-size: 14px; color: #666666; margin-left: 11px; }
.info_box2 .tt5 { font-size: 14px; color: #666666; }

.info_box2.school .score_tit { margin-left: 0; padding-right: 30px; }

.info_box2.portfolio .rows { padding: 25px 30px; }

table { border-spacing: 0; padding: 0; width: 100%; margin-bottom: 30px; }
table th { height: 51px; border: 1px solid #edeef0; border-top: 0; border-left: 0; font-size: 12px; color: #000000; width: 156px; background-color: #fcfcfc; }
table td { height: 51px; font-size: 14px; color: #000000; border: 1px solid #edeef0; border-top:0; border-left: 0; background-color: #ffffff; width: 156px; padding: 0 15px; }
table tr td.last { border-right: 0; width: auto; }


.intro { background-color: #ffffff; padding: 30px 35px; margin-bottom: 30px; } 
.intro .rows { margin-bottom: 25px; }
.intro .rows:last-child { margin-bottom: 0; }
.intro .tit { font-size: 18px; font-weight: 500; line-height: 1.9; color: #000000; margin-bottom: 9px; }
.intro .desc { font-size: 14px; color: #000000; line-height: 1.8; word-break: break-all; }

.resume_guide { text-align: center; }
.resume_guide .t1 { font-size: 22px; color: #000000; margin-bottom: 13px; }
.resume_guide .t2 { font-size: 14px; color: #000000; margin-bottom: 13px; }
.resume_guide .t3 { font-size: 12px; color: #888888; line-height: 1.8; }

.print_btn { position: fixed; top: 5px; right: 5px; border: 1px solid #000000; padding: 7px 15px; border-radius: 15px; cursor: pointer; background-color: #ffffff; }
.print_btn:hover { background-color: #000000; color: #ffffff; }
.print_btn:hover i { color: #ffffff; }

@media all and (max-width: 600px) {
	.info_box.basic_info .rows2 > .box { width: calc(100% / 2); }
	.info_box.basic_info .rows2 > .box:nth-child(1),
	.info_box.basic_info .rows2 > .box:nth-child(2) { border-bottom: 1px solid #edeef0; }
	
	.info_box.basic_info .rows1 > .box { float: none; width: 100%; }
	
	.info_box2 .rows > .box { float: none; width: 100%; }
	.info_box2 .rows > .box1 { padding-bottom: 15px; }
	.info_box2 .rows > .box2 { padding-top: 0; }
	
	table tr, table th, table td { display: block; width: 100%; }
	table th, table td { height: 35px; line-height: 33px; text-align: center; }
}

@media print {
	.no_print { display: none !important; }
}