@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
* { font-family: 'Noto Sans KR', sans-serif; box-sizing: border-box; color: #212121; }
html { font-size: 13px; }
body { padding: 0; margin: 0; }
a { text-decoration: none; }
ul { list-style: none; padding:0; margin: 0; }
dl { padding:0; margin: 0; display: table; width: 100%; }
dt { display: table-cell; vertical-align: middle; width: 130px; padding: 10px; }
dd { display: table-cell; vertical-align: middle; padding: 10px; }

input[type='text'], 
input[type='password'], 
input[type='number'],
input[type='email'] { border: 1px solid #d5d5d5; padding: 0 10px; height: 40px; width: 100%; border-radius: 7px; outline: none; }

/** 버튼 */
.btn1 { background-color: #06224f; height: 40px; width: 100%; display: block; border: 0; color: #ffffff; font-size: 17px; cursor: pointer; border-radius: 7px; }
.btn1:hover { background-color: #010e24; }

/** 제목 */
.main_title { font-size: 17px; font-weight: 700; margin-bottom: 20px; }

/** 레이아웃 기본 사이즈 */
.layout_width { width: 1200px; margin: 0 auto !important; }

/** member/login.html */
.login_box { width: 500px; box-shadow: 2px 2px 5px #06224f; border-radius: 20px; padding: 20px; position: fixed; left: calc(50% - 250px); top: calc(50% - 122px); }
.login_box .links { text-align: right; padding: 10px; }
.login_box .links a:hover { text-decoration: underline; }


/** admin/main.html */
.admin_page { background-color: #e8ecef; }
.admin_page .top_nav { background-color: #ffffff; height: 34px; line-height: 34px; }
.admin_page .top_nav > .inner { text-align: right; }
.admin_page .top_nav a { color: #666666; font-size: 12px; margin-left: 11px; position: relative; }
.admin_page .top_nav .last:before { content: ''; display: block; position: absolute; left: -7px; top: 4px; width: 1px; height: 11px; background-color: #dddddd; }

.admin_page .container { display: table; padding: 50px 0; }
.admin_page .container .nav { display: table-cell; vertical-align: top; width: 260px; position: relative; }
.admin_page .container .profile { display: table-cell; vertical-align: top; }

/** admin/_nav.html */
.admin_page .floating_box { width: 240px; position: absolute; right: 0; }
.admin_page .selection_box {  background-color: #ffffff; padding: 15px; margin-bottom: 10px; border: 1px solid #eeeeee; }
.admin_page .selection_box .tit { font-size: 14px; color: #999999; border-bottom: 1px solid #eeeeee; padding-bottom: 13px; }

.admin_page .floating_box .btns .btn { display: block; height: 50px; text-align: center; line-height: 50px; background-color: #ffffff; color: #333333; font-size: 15px; cursor: pointer; }
.admin_page .floating_box .btn.save { background-color: #3399ff; color: #ffffff; }

/** admin/_profile.html */
.admin_page .profile .resume_title { margin-bottom: 20px; }
.admin_page .profile .resume_title input[type='text'] { height: 80px; border: 1px solid #dbe0e9; border-radius: 0; padding: 0 28px; display: block; font-size: 30px; letter-spacing: -2px; color: #333333; } 

.admin_page .profile .section { margin-bottom: 34px; position: relative; }
.admin_page .profile .section > .inner { background-color: #ffffff; padding: 20px 20px 10px; border: 1px solid #dbe0e9; }
.admin_page .profile .section > .tit { font-size: 20px; color: #333333; font-weight: bold; margin-bottom: 14px;  }
.admin_page .profile .section > .required_tit { position: absolute; right: 0; top: 5px; font-size: 13px; color: #999999; }
.admin_page .section .box { float: left; width: 386px; margin-right: 10px; }
.admin_page .section .box3 { margin-right: 0; width: 106px; }
.admin_page .section > .inner:after { clear: left; content: ''; display: block; }

.admin_page .section .input_box { width: 188px; float: left; margin-left: 10px; border: 1px solid #dddddd; padding: 5px 10px; margin-bottom: 10px; }
.admin_page .section .input_box:nth-child(2n+1) { margin-left: 0; }
.admin_page .section .box:after { clear: left; content: ''; display: block; }

.admin_page .input_box .guide_tit { font-size: 11px; color: #a8a8a8; }
.admin_page .input_box input { height: 40px; font-size: 16px; color: #333333; border: 0; padding: 0; } 

.admin_page .input_box.address { width: 100%; position: relative; }
.admin_page .input_box.gender { width: 115px; }
.admin_page .input_box.email { width: calc(100% - 125px); }

.admin_page .photo_upload { border: 1px solid #dddddd; height: 146px; text-align: center; cursor: pointer; }
.admin_page .photo_upload .t { color: #666666; }
.admin_page .photo_upload .icon { color: #666666; font-size: 22px; margin-top: 51px; }
.admin_page .photo_upload img { width: 100%; display: block; }

.admin_page .search_address { position: absolute; right: 10px; font-size: 30px; color: #666666; top: 18px; cursor: pointer; }