{% extends '../layout.html' %}

{% block content %}
<div class='login_box'>
	<form method='post' action='/member/login' target='ifrmHidden' autocomplete='off'>
		<div class='main_title'>관리자 로그인</div>
		<dl>
			<dt>아이디</dt>
			<dd>
				<input type='text' name='memId'>
			</dd>
		</dl>
		<dl>
			<dt>비밀번호</dt>
			<dd>
				<input type='password' name='memPw'>
			</dd>
		</dl>
		<div class='links'>
			<a href='/member/join'>관리자 등록 요청</a>
		</div>
		<input type='submit' value='로그인' class='btn1'>
	</form>
</div>
<!--// login_box -->
{% endblock %}